# Environment Variables for docker-compose and/or .properties configuration (for local development)
# Rename this file to .env and update the values as needed
# Just to remind you, this is for the DEV profile. You can create separate .env files for other profiles (e.g., prod) if needed.

# No es NECESARIO rellenarlo porque ya se han puesto valores por defecto en el application-dev.yml, pero si quieres puedes cambiarlo aquí y se reflejará en el docker-compose y en la configuración de Spring Boot.

DB_HOST=localhost
DB_PORT=3306
DB_NAME=autonexo-database
DB_USERNAME=root
DB_PASSWORD=Admin-123

EMAIL_USERNAME=amir.devsandbox@gmail.com
EMAIL_PASSWORD="xjwj pnwb ddla vogo"

CLOUDINARY_CLOUD_NAME=dxbmcwti0
CLOUDINARY_API_KEY=323226415791696
CLOUDINARY_API_SECRET=DrkoIPMJ-BvsFNRG49DpbRRQVyw
CLOUDINARY_BASE_URL=autonexo

JWT_SECRET=autonexo-dev-secret-jwt-key-for-development-only-2024
JWT_EXPIRATION_DAYS=7